:root {
    --pageScale: 0.45;
    --size: 5.4rem;
}

.supertorso {
    -webkit-transform: scale(0.67);
    -moz-transform: scale(var(--pageScale));
    transform: scale(var(--pageScale));
}

.invisible {
    background-color: rgba(0,0,0,0);
    color: rgba(0, 0, 0,0 );
    border: rgba(0, 0, 0, 0);
}

body {
    /* -webkit-transform: scale(0.67);
    -moz-transform: scale(var(--pageScale));
    transform: scale(var(--pageScale)); */
    background-image: url(./assets/tsiisky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* stolen from chatgpt */
.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(168, 168, 168, 0.375);
    color: rgb(0, 0, 0);
    margin: 1em;
    padding: 1em;
    border: 0.24rem solid black;
    border-radius: 2rem;
    text-align: center;
}

.torso {
    border-radius: 4rem;
    background-color: rgba(79, 79, 79, 0.5);
    display: grid;
    grid-auto-flow: row;
}

.difficultycard {
    display: flex;
    flex-direction: column;
}

.infoicon {
    max-width: 2em;
    max-height: 2em;
    margin: 1em;
}

.hidden {
    display: none;
}

#copynotif {
    position: fixed;
    background-color: rgb(180, 180, 180);
    left: 600px;
    right: 600px;
    bottom: 300px;
    top: 600px;
    z-index: 99999;
}

.levelinfo {
    display: grid;
    grid-auto-flow: row;
}

.levelinfo > div {
    max-width: 18rem;
}


.item {
    min-width:  0;
}

.lvlpanel {
    grid-auto-flow: column;
}

.lvlpanel > div {
    margin: 3rem;
    padding: 5rem;
    min-width: 0;
}

.content > div {
    min-width: 0;
}

.playbutton {
    border: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.buttonholder {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    background-color: rgba(0, 0, 0, 0);
}

.playbuttonimage:hover {
    transform: scale(1.07);
}

.playbutton:active {
    transform: scale(1.13);
}

.button:hover {
    background-color: aquamarine;
    transform: scale(1.05);
}

.button:active {
    background-color: lightgreen;
    transform: scale(1.2);
}

.button {
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.square {
    justify-content: center;
    align-items: center;
    width: var(--size, 5vw);
    height: var(--size, 5vw);
}

p {
    text-align: center;
    font-size: larger;
    line-height: 2;
}